<h1 mat-dialog-title translate>profile.password.change.title</h1>
<div mat-dialog-content>
  <mat-form-field appearance="standard" class="fit-parent-width">
    <mat-label translate>profile.password.change.password-label</mat-label>
    <input matInput #passwordInput="ngModel"
           type="password"
           required="required"
           ngModel
           [(ngModel)]="password"
           name="password"/>
    <mat-error *ngIf="passwordInput.invalid" translate>profile.password.change.no-password</mat-error>
  </mat-form-field>
  <mat-form-field appearance="standard" class="fit-parent-width">
    <mat-label translate>profile.password.change.password-confirmation-label</mat-label>
    <input matInput #passwordConfirmInput="ngModel"
           type="password"
           required="required"
           ngModel
           [(ngModel)]="passwordConfirmation"
           name="passwordConfirmation"/>
    <mat-error *ngIf="passwordConfirmInput.invalid" translate>profile.password.change.no-password-confirmation</mat-error>
    <mat-error *ngIf="passwordConfirmation !== password" translate>profile.password.change.password-mismatch</mat-error>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button
          mat-raised-button
          color="primary"
          [disabled]="!passwordConfirmation || passwordConfirmation !== password"
          (click)="confirm()"
          translate>profile.password.change.ok</button>
  <button mat-button (click)="dialogRef.close(null)" translate>profile.password.change.cancel</button>
</div>
