<form (ngSubmit)="submit()" #loginForm="ngForm">
  <app-progress-spinner class="example-margin"
                        color="primary"
                        mode="indeterminate"
                        value="50"
                        backdropEnabled="true"
                        [displayProgressSpinner]="isSendingRequest">
  </app-progress-spinner>
  <mat-card>
    <mat-card-title translate>login-page.title</mat-card-title>
    <mat-card-subtitle [innerHTML]="'login-page.redirect' | translate:redirectWrap"></mat-card-subtitle>
    <mat-card-content>
      <mat-form-field appearance="standard" class="fit-parent-width">
        <mat-label translate>login-page.labels.login</mat-label>
        <input matInput #emailInput="ngModel"
               type="email"
               ngModel email
               required="required"
               [(ngModel)]="email"
               [disabled]="isSendingRequest"
               name="email"/>
        <mat-error *ngIf="emailInput.invalid" translate>login-page.error.email</mat-error>
      </mat-form-field>
      <mat-form-field appearance="standard" class="fit-parent-width">
        <mat-label translate>login-page.labels.password</mat-label>
        <input matInput #passwordInput="ngModel"
               type="password"
               required="required"
               [(ngModel)]="password"
               [disabled]="isSendingRequest"
               name="password"/>
        <mat-error *ngIf="passwordInput.invalid" translate>login-page.error.password</mat-error>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button color="primary" [disabled]="loginForm.form.pristine || loginForm.form.invalid || isSendingRequest">{{ 'login-page.submit' | translate }}</button>
    </mat-card-actions>
  </mat-card>
</form>
