<mat-card>
  <mat-card-title translate>drones.edit.title</mat-card-title>
  <mat-card-content>
    <mat-toolbar *ngIf="drone.status !== droneStatus.UNAUTHORIZED">
      <div class="align-right">
        <button mat-button color="warn"
                [disabled]="isMakingRequest"
                (click)="resetPassword()">
          {{'drones.edit.reset.btn' | translate}}
        </button>
      </div>
    </mat-toolbar>
    <form [formGroup]="form">
      <mat-form-field class="fit-parent-width">
        <mat-label translate>drone.battery-power</mat-label>
        <input matInput
               type="number"
               required="required"
               min="0"
               step="1"
               formControlName="batteryPower"
               name="batteryPower"/>
        <mat-error *ngIf="controls.batteryPower.errors" translate>drone-errors.battery-power</mat-error>
      </mat-form-field>
      <mat-form-field class="fit-parent-width">
        <mat-label translate>drone.engine-power</mat-label>
        <input matInput
               type="number"
               required="required"
               min="0"
               step="1"
               formControlName="enginePower"
               name="enginePower"/>
        <mat-error *ngIf="controls.enginePower.errors" translate>drone-errors.engine-power</mat-error>
      </mat-form-field>
      <mat-form-field class="fit-parent-width">
        <mat-label translate>drone.load-capacity</mat-label>
        <input matInput
               type="number"
               required="required"
               min="0"
               step="1"
               formControlName="loadCapacity"
               name="loadCapacity"/>
        <mat-error *ngIf="controls.loadCapacity.errors" translate>drone-errors.load-capacity</mat-error>
      </mat-form-field>
      <mat-checkbox formControlName="canCarryLiquids"
                    name="canCarryLiquids">
        {{ 'drone.can-carry-liquids' | translate }}
      </mat-checkbox>

      <mat-form-field class="fit-parent-width">
        <mat-label translate>drone.base-longitude</mat-label>
        <input matInput
               type="number"
               formControlName="baseLongitude"
               name="baseLongitude"
               [errorStateMatcher]="errorStateMatcherFactory('baseLatitude')"/>
        <mat-error *ngIf="controls.baseLongitude.errors?.longitude" translate>user-errors.longitude</mat-error>
        <mat-error *ngIf="form.errors?.notCoords" translate>
          user-errors.coords
        </mat-error>
      </mat-form-field>
      <mat-form-field class="fit-parent-width">
        <mat-label translate>drone.base-latitude</mat-label>
        <input matInput
               type="number"
               formControlName="baseLatitude"
               name="baseLatitude"
               [errorStateMatcher]="errorStateMatcherFactory('baseLongitude')"/>
        <mat-error *ngIf="controls.baseLatitude.errors?.latitude" translate>user-errors.latitude</mat-error>
        <mat-error *ngIf="form.errors?.notCoords" translate>
          user-errors.coords
        </mat-error>
      </mat-form-field>
    </form>
    <mat-toolbar>
      <button mat-raised-button color="primary"
              [disabled]="isMakingRequest || form.invalid"
              (click)="updateDrone()">
        {{'drones.edit.submit' | translate}}
      </button>
    </mat-toolbar>
  </mat-card-content>
</mat-card>
