<mat-toolbar color="primary" class="mat-elevation-z3">
  <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
  <h1 class="example-app-name">DrOwn</h1>
</mat-toolbar>
<mat-sidenav-container [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
  <mat-sidenav #snav mode="over"
               [fixedInViewport]="mobileQuery.matches"
               class="mat-elevation-z2"
               fixedTopGap="56">
    <mat-nav-list>
      <p>Shut the fuck up</p>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <p>ohaio lottery</p>
  </mat-sidenav-content>
</mat-sidenav-container>
