<mat-toolbar color="primary" class="mat-elevation-z3">
  <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
  <h1 class="example-app-name">DrOwn</h1>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav #snav mode="over"
               fixedInViewport="true"
               class="mat-elevation-z2">
    <app-sidenav></app-sidenav>
  </mat-sidenav>

  <mat-sidenav-content>
    <p translate>test</p>
    <p translate>test555</p>
    <p translate>test</p>
    <p translate>test555</p>
    <p translate>test</p>
    <p translate>test555</p>
    <p translate>test</p>
    <p translate>test555</p>
    <p translate>test</p>
    <p translate>test555</p>
    <p translate>test</p>
    <p translate>test555</p>
    <p translate>test</p>
    <p translate>test555</p>
    <p translate>test</p>
    <p translate>test555</p>
    <p translate>test</p>
    <p translate>test555</p>
    <p translate>test</p>
    <p translate>test555</p>
    <p translate>test</p>
    <p translate>test555</p>
    <p translate>test</p>
    <p translate>test555</p>
    <p translate>test</p>
    <p translate>test555</p>
    <p translate>test</p>
    <p translate>test555</p>
    <p translate>test</p>
    <p translate>test555</p>
    <p translate>test</p>
    <p translate>test555</p>
    <p translate>test</p>
    <p translate>test555</p>
    <p translate>test</p>
    <p translate>test555</p>
    <p translate>test</p>
    <p translate>test555</p>
    <p translate>test</p>
    <p translate>test555</p>
    <p translate>test</p>
    <p translate>test555</p>
    <p translate>test</p>
    <p translate>test555</p>
    <p translate>test</p>
    <p translate>test555</p>
    <p translate>test</p>
    <p translate>test555</p>
    <p translate>test</p>
    <p translate>test555</p>
    <p translate>test</p>
    <p translate>test555</p>
    <p translate>test</p>
    <p translate>test555</p>
    <p translate>test</p>
    <p translate>test555</p>
    <p translate>test</p>
    <p translate>test555</p>
    <p translate>test</p>
    <p translate>test555</p>
    <p translate>test</p>
    <p translate>test555</p>
    <p translate>test</p>
    <p translate>test555</p>
    <p translate>test</p>
    <p translate>test555</p>
    <p translate>test</p>
    <p translate>test555</p>
    <p translate>test</p>
    <p translate>test555</p>
  </mat-sidenav-content>
</mat-sidenav-container>
