<mat-card>
  <mat-card-title translate>profile.title</mat-card-title>
  <mat-card-content>
    <mat-progress-bar mode="indeterminate"
                      [style.visibility]="isMakingRequest ? 'visible' : 'hidden'"></mat-progress-bar>
    <mat-toolbar>
      <mat-toolbar-row>
        <button mat-icon-button color="primary"
                [disabled]="isMakingRequest"
                (click)="refreshUser()">
          <mat-icon>refresh</mat-icon>
        </button>
        <div class="align-right">
          <button mat-button color="warn"
                  [disabled]="isMakingRequest"
                  (click)="changePassword()">
            {{'password.change-btn' | translate}}
          </button>
          <span class="spacer-1"></span>
          <button mat-button color="warn"
                  [disabled]="isMakingRequest"
                  (click)="resetPassword()">
            {{'password.reset-btn' | translate}}
          </button>
        </div>
      </mat-toolbar-row>
      <mat-toolbar-row>
        <mat-slide-toggle (click)="switchMode()"
                          [(ngModel)]="editMode"
                          [disabled]="isMakingRequest">{{'profile.edit-mode' | translate}}</mat-slide-toggle>
      </mat-toolbar-row>
    </mat-toolbar>
    <mat-list *ngIf="!editMode">
      <mat-list-item>
        <p mat-line translate>user.email</p>
        <h4 mat-line>{{user.email}}</h4>
      </mat-list-item>
      <mat-list-item>
        <p mat-line translate>user.role</p>
        <mat-chip-list mat-line>
          <ng-container *ngFor="let roleName of rolesNames">
            <mat-chip *ngIf="userRoles[roleName]" color="primary" selected disableRipple>
              {{'user-roles.' + roleName | translate}}
            </mat-chip>
          </ng-container>
        </mat-chip-list>
      </mat-list-item>
      <mat-list-item>
        <p mat-line translate>user.name</p>
        <h4 mat-line>{{user.name}}</h4>
      </mat-list-item>
      <mat-list-item>
        <p mat-line translate>user.longitude</p>
        <h4 mat-line>{{user.longitude}}</h4>
      </mat-list-item>
      <mat-list-item>
        <p mat-line translate>user.latitude</p>
        <h4 mat-line>{{user.latitude}}</h4>
      </mat-list-item>
    </mat-list>

    <form [formGroup]="editUserGroup" *ngIf="editMode">
      <mat-form-field class="fit-parent-width">
        <mat-label translate>user.email</mat-label>
        <input matInput
               type="email"
               required="required"
               formControlName="email"
               name="email"/>
        <mat-error *ngIf="controls.email.errors" translate>user-errors.email</mat-error>
      </mat-form-field>
      <div *ngIf="isAdmin()">
        <p translate>user.role</p>
        <mat-list>
          <mat-list-item *ngFor="let roleName of rolesNames">
            <mat-checkbox [checked]="userRoles[roleName]"
                          (change)="toggleRole(roleName)">
              {{'user-roles.' + roleName | translate}}
            </mat-checkbox>
          </mat-list-item>
        </mat-list>
      </div>
      <mat-form-field class="fit-parent-width">
        <mat-label translate>user.name</mat-label>
        <input matInput
               type="text"
               required="required"
               formControlName="name"
               name="name"/>
        <mat-error *ngIf="controls.name.errors" translate>user-errors.name</mat-error>
      </mat-form-field>
      <mat-form-field class="fit-parent-width">
        <mat-label translate>user.longitude</mat-label>
        <input matInput
               type="number"
               formControlName="longitude"
               name="longitude"/>
        <mat-error *ngIf="controls.longitude.errors" translate>user-errors.longitude</mat-error>
        <mat-error *ngIf="editUserGroup.errors && editUserGroup.errors.notCoords" translate>user-errors.coords
        </mat-error>
      </mat-form-field>
      <mat-form-field class="fit-parent-width">
        <mat-label translate>user.latitude</mat-label>
        <input matInput
               type="number"
               formControlName="latitude"
               name="latitude"/>
        <mat-error *ngIf="controls.latitude.errors" translate>user-errors.latitude</mat-error>
        <mat-error *ngIf="editUserGroup.errors && editUserGroup.errors.notCoords" translate>user-errors.coords
        </mat-error>
      </mat-form-field>
      <mat-toolbar>
        <button mat-raised-button color="primary"
                [disabled]="!editUserGroup.valid || isMakingRequest"
                (click)="updateProfile()">{{'profile.update.btn' | translate}}</button>
      </mat-toolbar>
    </form>
  </mat-card-content>
</mat-card>

